# -*- coding: utf-8 -*-
##############################################################################
#Author: @SVAKSHA, Tuesday 21 January 2014 14:00:20 PM IST 
##############################################################################

#====================================================
# GENERAL
#====================================================
tags
MANIFEST
az.md
publications/

#====================================================
# USE GLOB SYNTAX
#====================================================
syntax: glob
*.elc


#====================================================
# IPYTHON Notebooks
#====================================================
notebooks/.ipynb_checkpoints/*


#====================================================
# PYTHON PACKAGES
#====================================================
__pycache__
*.egg
*.egg-info
*.pyc
*.pyo
*.swp
*.py[cod]
*~
.installed.cfg
bin
build
develop-eggs
dist
eggs
include
lib
lib64
parts
sdist
var


#====================================================
# DVCS
#====================================================
*.git
*.hg
.hgignore



#====================================================
# DATABASE
#====================================================
*.sql
*.sqlite
ehthumbs.db
Thumbs.db
config/databases.yml
cache

# DATA folders
#----------------------------------------------------
**/datum
datum/
datum/**


#====================================================
# C extensions
#====================================================
*.so

#====================================================
# INSTALLER ERROR LOGS
#====================================================
pip-log.txt
*error_log.txt
*.log
log/


#====================================================
# UNIT TEST / COVERAGE REPORTS
#====================================================
.coverage
.tox
nosetests.xml

#====================================================
# i18 / i10 TRANSLATIONS
#====================================================
*.mo


#====================================================
# Mr Developer
#====================================================
.mr.developer.cfg
.project
.pydevproject

#====================================================
# OS JUNK FILES
#====================================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
[Tt]humbs.db
ehthumbs.db
Thumbs.db


#====================================================
# EDITOR: Vi
#====================================================
*.swp


