# -*- coding: utf-8 -*-
##############################################################################
#Author: @SVAKSHA, Tuesday 21 January 2014 14:00:20 PM IST 
##############################################################################

#====================================================
# GENERAL
#====================================================
PRIVATE/
.directory

#====================================================
# DVCS
#====================================================
*.git
*.hg
.hgignore

#====================================================
# EDITOR: Vi
#====================================================
*.swp


#====================================================
# Julia build config : ver-0.6.4 onwards
#====================================================
*.buildconfig

